/* FIXED TOP BANNER */
.top-banner {
    position: fixed;
    top: 0;
    width: 100%;
    background: #f5b7b7;
    text-align: center;
    padding: 20px 10px;
    border-bottom: 3px solid #8b3a3a;
    z-index: 1000;
}

.top-banner h1 {
    margin: 0;
    font-size: 2.2rem;
    font-style: italic;
}

.top-banner p {
    margin: 0;
    font-size: 1rem;
    letter-spacing: 1px;
}

.header {
  padding: 2% 1%;
}

/* Style the header links */
header a {
  float: center;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 10%;
  line-height: 10%;
  border-radius: 4%;

  
body {
  margin: 3%;
  padding: 3%;
  background-color: #FFE5B4; /* Light orange */
  background-image: url('bat-silhouette.png');
  background-repeat: repeat;
  background-size: 50px 50px; /* Small bats */
  background-position: center;
  font-family: Times-serif;
  h1 {
      font-size: 32px; /* Sets heading 1 text to 32 pixels */
    }
}




















